
table{
    font-size: 1.4rem;
    width:100%;
    th{
        display: flex;
        justify-content: center;
        align-items: center ;
        td{
            &:nth-child(odd){
                font-size: 2em;
                margin: 0 1em;
                cursor: pointer;
            }
        }
        
    }
    tbody{
        tr{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: .3em 0;
            height: 4.5rem;
            border: 3px solid var(--theme-primary);
            border-radius: 10px;
            cursor: pointer;
            a:hover{
                color: #cce447;  
            }
            &:hover{
                background-color: var(--theme-primary);
                color: var(--theme-secondary);
                transition: background-color ease .3s ;
            }
            &.unavailable, &.reserved{
                background-color: lightgray;
                cursor: not-allowed;
                &:hover{
                    color: unset;
                }
            }
            &.reserved{
                background-color: var(--theme-planning);
            }
            td{
                margin: 0 .8em;
                &.planning__state{
                    display: block;
                    overflow: hidden;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 100%;
                }
                &.hidden{
                    display: none;
                }
                &.show{
                    display:unset;
                }
            }
        }
    }
}