{% extends "base.html.twig" %}
{% block title %}OpenCourt - Pimprennelle sur Odette - Modification d'un membre {% endblock %}
{% block main %} 
    <section>
        <h2>Modification d'un membre</h2>
        {{ include ("Back/_members-form.html.twig", {'button_label': 'Modifier'}) }}
    </section>
{% endblock %}