{% extends "base.html.twig" %}
{% block stylesheets%}
{% endblock %}
{% block main %}

<section class="main__slider">
            <div class="slider__nav">
                <p class="left-arrow">&lt;</p>
                <p class="right-arrow">&gt;</p>
            </div>
            <div class="slider__display active">
                <img src="./assets/slider-1540x320/pexels-mudassir-ali-1619860-slider.jpg" alt="photo d'un terrain de tennis sur gazon">  
                
                <div class="slider__overlay">
                    <h2>Tournois de Tennis Communal, à partir du 2 février 2024</h2>
                </div> 
            </div>
            
            <div class="slider__display">
                <img src="./assets/slider-1540x320/pexels-raj-tatavarthy-171568-slider.jpg" alt="photo d'un terrain de tennis sur gazon">  
                
                <div class="slider__overlay">
                    <h2>Yannick Naoh participe au téléthon 2023 !</h2>
                </div> 
            </div>
            
        </section>
        
        <section class="main__articles">
            <article>
                <header>
                    <h2>Entrainement pour enfants..</h2>
                    <div>
                        <em>JeanJean01,</em>
                        <time datetime="2023-09-26">le 26 Septembre 2023</time>
                    </div>
                </header>
                <section>
                    <img src="./assets/home-article-320x240/pexels-pixabay-207361.jpg" alt="image d'une balle de tennis sur un terrain en terre battue">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nostrum debitis esse neque omnis provident commodi consectetur, dolor dolore error ipsam quidem aliquid dicta ad cumque facilis deleniti accusamus consequuntur mollitia! Earum nemo dolor velit eius deleniti nobis maiores in illo dignissimos vel, architecto voluptatem quas totam harum repellendus repudiandae adipisci magni natus voluptatum amet rerum maxime numquam hic consequatur. Harum error impedit quod atque ea, odit aspernatur aut adipisci consequuntur officiis id facere autem facilis vero, magni voluptas ipsam hic optio debitis tempore quam praesentium enim? Dolores, sequi est eligendi consequatur deleniti praesentium facilis consectetur nostrum fugiat et, assumenda porro, rem earum temporibus necessitatibus! Obcaecati veritatis voluptates culpa molestias ducimus consectetur, id atque vero eum architecto quasi aliquid autem dolore ipsa at cupiditate quis beatae similique inventore blanditiis itaque distinctio molestiae. Quasi nostrum ullam recusandae, quas voluptatum ad rerum consequuntur iste nihil, fugit ex dolore. Odio laborum illum tenetur sapiente reprehenderit corrupti eveniet animi ad, in itaque non facere velit recusandae, illo adipisci omnis? Blanditiis, fuga? Eos incidunt aut tempora sapiente repellat iste labore maiores eligendi facilis blanditiis, saepe magnam nobis distinctio voluptate quaerat voluptatem facere commodi atque porro qui? Quaerat, doloribus odit provident molestiae distinctio harum! Accusantium, provident?</p>
                </section>
                <section>
                    <em>200k views</em>
                    <em>6 commentaires</em>
                </section>
            </article>

            <article>
                <header>
                    <h2>Entrainement pour Adultes..</h2>
                    <div>
                        <em>Phillipousis,</em>
                        <time datetime="2023-09-02">le 2 Septembre 2023</time>
                    </div>
                </header>
                <section>
                    <img src="./assets/home-article-320x240/pexels-pixabay-209977.jpg" alt="image d'une balle de tennis sur un terrain en terre battue">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit culpa incidunt fuga nam aperiam vel, reiciendis vitae possimus accusantium tempore adipisci a magni commodi rerum saepe eligendi, eaque repellendus alias? Unde tempora eaque cupiditate libero. Sapiente assumenda esse cum nobis, aspernatur provident voluptatem, obcaecati expedita velit, perferendis fugit aut reiciendis voluptatibus dignissimos nisi aliquam quo minus vel repellendus veritatis dolores eligendi vitae? Voluptatum dolore a atque quo cum reprehenderit asperiores sequi laboriosam! Exercitationem eligendi facere rem, quod molestiae ex eveniet!</p>
                </section>
                <section>
                    <em>25 views</em>
                    <em>3 commentaires</em>
                </section>
            </article>

            <article>
                <header>
                    <h2>Phil Collins en concert sur le Terrain 1bis</h2>
                    <div>
                        <em>Phillipousis,</em>
                        <time datetime="2023-08-16">le 16 Aout 2023</time>
                    </div>
                </header>
                <section>
                    <img src="./assets/home-article-320x240/sport-3068038_1920.jpg" alt="image d'une balle de tennis sur un terrain en terre battue">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit culpa incidunt fuga nam aperiam vel, reiciendis vitae possimus accusantium tempore adipisci a magni commodi rerum saepe eligendi, eaque repellendus alias? Unde tempora eaque cupiditate libero. Sapiente assumenda esse cum nobis, aspernatur provident voluptatem, obcaecati expedita velit, perferendis fugit aut reiciendis voluptatibus dignissimos nisi aliquam quo minus vel repellendus veritatis dolores eligendi vitae? Voluptatum dolore a atque quo cum reprehenderit asperiores sequi laboriosam! Exercitationem eligendi facere rem, quod molestiae ex eveniet!</p>
                </section>
                <section>
                    <em>999k views</em>
                    <em>150 commentaires</em>
                </section>
            </article>
        </section>

{% endblock %}