{% extends "base.html.twig" %}
{% block title %}OpenCourt - Pimprennelle sur Odette - Modification d'un membre {% endblock %}
{% block main %} 
<main>
    <section>
    <h2>Modifier un membre de ma tribu</h2>
    {{ form_start(form) }}
    {{ form_end(form) }}
    </section>
</main>
{% endblock %}