{% extends "base.html.twig" %}
{% block title %} Ajout d'un membre {% endblock %}
{% block main %} 
    <section>
        <h2>Ajouter un membre à ma tribu</h2>
        {{ include ("Front/_members-form.html.twig") }}
    </section>
{% endblock %}