{% extends "base.html.twig" %}
{% block title %}OpenCourt - Pimprennelle sur Odette - Les services {% endblock %}
{% block main %}
    <section class="services">
        <h2>Les services du club</h2>
        <div class="holster">
            <div class="container y mandatory-scroll" dir="ltr">
                <div>
                    <img src="./assets/services-685x481/tennis_court_spotlight_zoomed_on_spotlight.jpg" alt="un terrain de tennis éclairé par un spot">
                    <h3>ECLAIRAGE NOCTURNE GRATUIT DE 20H A 00h</h3>
                </div>
                
                <div>
                    <img src="./assets/services-685x481/pexels-leeloo-thefirst-5386754.jpg" alt="reservation du court, photo d'un calendrier">
                    <h3>JUSQU'A 6 HEURES DE RESERVATIONS PAR SEMAINES</h3>
                </div>
                
                <div>
                    <img src="./assets/services-685x481/on_first_plan_a_gold_trophy_cup_second_plan_a_t.jpg" alt="une photo généré via ideogram, qui represente un trophé sportif">
                    <h3>DES TOURNOIS ET EVENNEMENTS REGULIERS</h3>
                </div>
                
                <div>
                    <img src="./assets/services-685x481/balles-tennis-faible-angle-raquette-terrain-reduced.jpg" alt="Une photo d'un terain de tennis à la surface bleu une raquette est posé au filet et plusieur balle sont au sol, represente 'l entrainement' ">
                    <h3>DES COURS HEBDOMADAIRE POUR FEMMES, HOMMES, ENFANTS</h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}