{% extends "base.html.twig" %}
{% block title %} Mon compte {% endblock %}
{% block main %}
    {% include ("Front/account/_tribe.html.twig") %}
        {% if currentMember %}
            <section class="main__user-panel">
                {% include "Front/account/_common-links.html.twig" %}
            {% if "ROLE_ADMIN" in app.user.getRoles() %}
                    <a href=" {{ path ('app_account_admin') }}">
                        <h3>Espace administrateur</h3>
                    </a>
            {% endif %}
            {% if "ROLE_MANAGER" in app.user.getRoles() %}
                    <a href="#">
                        <h3>Espace manager de contenu</h3>
                    </a>
            {% endif %}
            {% if "ROLE_PROFESSOR" in app.user.getRoles() %}
                    <a href="#">
                        <h3>Espace professeur</h3>
                    </a>
            {% endif %}
            </section>
        {% else %}
        <div>
            <p>Vous devez selectionner un membre</p>
        </div>
        {% endif %}
        
{% endblock %}