{% extends "base.html.twig" %}
{% block title %}OpenCourt - Pimprennelle sur Odette - Modification d'un membre {% endblock %}
{% block main %} 
    <section>
        <h2>Modifier un membre de ma tribu</h2>
        {{ include ("Front/account/_members-form.html.twig", {'button_label': 'Modifier'}) }}
    </section>
{% endblock %}