{# Provides errors due to bad credentials, limited connexion tries from authenticationUtils #}

{% if error is defined and error %}
    <div class="error">
        {{ error.messageKey|trans(error.messageData, 'security') }}
        <span class="btn-close">X</span>
    </div>
{% endif %}