
    <a href="{{ path ("app_account_manage_members") }}">
        <h3>Gestion des Membres</h3>
    </a>
    <a href="{{ path ("app_account_manage_users") }}">
        <h3>Gestion des utilisateurs</h3>
    </a>
    <a href="{{ path ("app_account_manage_slots") }}">
        <h3>Gestion des créneaux horaire</h3>
    </a>
    <a href="{{ path ("app_account_manage_courts") }}">
        <h3>Ajout/Gestion de court</h3>
    </a>
    <a href="">
        <h3>Logs</h3>
    </a>
    <a href="">
        <h3>Configuration d'OpenCourt</h3>
    </a>
