body{
    margin: 0;
}

header div{
    background-color: #2e425b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    height: 160px;
    margin: 0;
}

header div img{
    width: 160px;
    margin-left: 2em;
}

div h1{
    max-width: 20em;
    margin-left: 3em;
    text-align: center;
}

nav{
    margin-left: 3em; 
}

nav ul{
    display: inline-block;
}

nav li{
    list-style: none;
    border-right: 2px solid white;
    display:inline-block;
    position:relative;
    z-index: 2;
}   

nav li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 0 2em 0 2em;
    display: block;
    position: relative;
    padding: 10px;
}

nav li:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width:0%;
    height:0;
    background-color: #cce447;
    transform: rotate(-5deg);
}

nav li:hover a{
    color: white;
    transition:  color .3s;
    text-shadow: 1px 1px 2px #2e425b;
}

nav li:hover:after{
    height:95%;
    width:93%;
    margin-left: .5em;
    transition: width .4s ease;
    z-index: -1;
    border-radius: 6px;
}

header::after{
    content: "";
    height: 90px;
    width: 100%;
    position: absolute;
    z-index: -2;
    background-color: #2e425b;
    transform: rotate(2deg);
    top: 105px;
    left: 2px;
}

.main__slider{
    width: 90%;
    position: relative;
    height: 20em;
    margin: 5em auto 2em auto;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.main__slider img{
    position: absolute;
    width : 80%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    max-height: 20em;
    transition: opacity .3s;
    left: 10%;
}

.active{
    opacity: 1;
    z-index: 1;
}

.main__slider p{
    z-index: 2;
    font-weight: bolder;
    color: black;
    font-size: 5em;
    opacity : .4;
}

.slider__nav{
    display:flex;
    justify-content: space-between;
    margin-top: 2%;
}

.slider__nav p:hover{
    opacity: 1;
    text-shadow: 1px 1px black;
    cursor: pointer;
}

.slider__overlay{
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 10%;
    background-color: rgba(0, 0, 7, 0.4);
}

.main__slider h2{
    color: white;
    margin-left: .8em;
}
